<webconf>
    <port>8080</port>
    <DocumentRoot>web/</DocumentRoot>
    <Directory>
        <Options>Indexes</Options>
    </Directory>
    <security>
        <order>
            <first>accept</first>
            <last>reject</last>
        </order>
        <default>accept</default>
        <accept>192.168.0.0/24</accept>
        <reject>192.168.0.2/24</reject>
    </security>
    <accesslog>documents/access.log</accesslog>
    <errorlog>documents/error.log</errorlog>
</webconf>